

    <div class="container" ng-controller="CollectionDetailController">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="#">Home</a></li>
                   <li class="active">Create New Collection</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>New Collection</h3>
               <hr>
            </div>
        </div>
        
        <div class="row row-content">
            <div class="col-xs-12 col-sm-9"> 
                <form class="form-horizontal" role="form" name="collectionForm" ng-submit="addCollection()" enctype="multipart/form-data" novalidate>

                    <div class="form-group" ng-class="{ 'has-error' : collectionForm.name.$error.required && !collectionForm.name.$pristine }">
                        <label for="name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-5">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Collection Name" 
                        ng-model="collection.name" required>
                        <span ng-show="collectionForm.name.$error.required && !collectionForm.name.$pristine" class="help-block">Collection name is required.</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : invalidCategorySelection }">
                        <label for="category" class="col-sm-2 control-label">Category</label>
                        <div class="col-sm-3">
                            <select class="form-control" 
                             ng-model="collection.category"
                             ng-options="category.value as category.label for category in categories">
                                <option value="">Select Category</option>
                            </select>
                            <span ng-show="invalidCategorySelection" class="help-block">Select a category.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="label" class="col-sm-2 control-label">Label</label>
                        <div class="col-sm-3">
                            <select class="form-control" 
                             ng-model="collection.label"
                             ng-options="label.value as label.label for label in labels">
                                <option value="">Select Label</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : collectionForm.price.$error.required && !collectionForm.price.$pristine }">
                        <label for="price" class="col-sm-2 control-label">Price</label>
                        <div class="col-sm-5">
                        <input type="text" class="form-control" id="price" name="price" placeholder="Enter Collection Price" 
                        ng-model="collection.price" required>
                        <span ng-show="collectionForm.price.$error.required && !collectionForm.price.$pristine" class="help-block">Collection price is required.</span>
                        </div>
                    </div>

                    <!-- imageFile will be uploaded once selected -->
                    <div class="form-group">
                        <label for="imageFile" class="col-sm-2 control-label">Select Image</label>
                        <div class="col-sm-5">
                        <input type="file" id="imageFile" name="imageFile" accept="image/*" ng-model="collection.image" onchange="angular.element(this).scope().uploadFile(this)">
                        </div>
                    </div>
                 
                    <div class="form-group" ng-class="{ 'has-error' : invalidLocationSelection }">
                        <label for="location" class="col-sm-2 control-label">Location</label>
                        <div class="col-sm-3">
                            <select class="form-control" 
                             ng-model="collection.location"
                             ng-options="location.value as location.label for location in locations">
                                <option value="">Select Location</option>
                            </select>
                            <span ng-show="invalidLocationSelection" class="help-block">Select a location.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="description" name="description" rows="2"
                                ng-model="collection.description">
                            </textarea>
                        </div>
                    </div>                     

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="collectionForm.$invalid">Save Collection</button>
                            <button type="button" class="btn btn-default" ui-sref="app.collections">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
       </div>

    </div>
